body {
  min-width: 720px;
}
body * {
  box-sizing: border-box;
}
.main-menu {
  display: block;
  height: 40px;
  padding: 0px;
  margin: 0px;
  background: linear-gradient(to right, #292929, #4c4c4c);
}
.main-menu a {
  display: inline-block;
  float: left;
  height: 40px;
  max-width: 150px;
  padding: 0px 10px;
  color: white;
  text-decoration: none;
  font-size: 14px;
  vertical-align: middle;
  text-align: center;
  line-height: 40px;
  background: linear-gradient(to right, #292929, #4c4c4c);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.main-menu a:hover {
  background: linear-gradient(to bottom, #ff8500, #e85600);
}
.main-menu a:active,
.main-menu a.active {
  background: linear-gradient(to bottom, #ff8500, #e85600);
}
.main-menu a.logo {
  font-size: 26px;
  max-width: 300px;
  color: #BDBDBD;
  text-transform: uppercase;
}
.main-footer {
  display: block;
  float: left;
  width: 100%;
  min-height: 100px;
  padding: 10px;
  background: #4C4C4C;
  color: #ffffff;
  font-size: 10px;
  text-align: center;
}
.main-footer > span {
  display: block;
}
.container {
  display: block;
  float: left;
  margin: 0px;
  padding: 10px;
  width: 100%;
  height: 10px;
  min-height: 520px;
  background: linear-gradient(to bottom, #e85600 5px, #ffffff 10px, #ffffff);
}
