sample-chart1 {
	vertical-align: top;

	&>div {
		display: inline-block;
		width: 500px;
	}
}

.d3charts-page {
	ul.categories {
		list-style: none;
		display: block;
		li.category {
			display: inline-block;
			padding: 10px;
			margin: 5px;
			background: lightgrey;
			text-align: center;
			vertical-align: middle;
			cursor: pointer;

			a, a:visited,a:active {
				text-decoration: none;
				color: black;
			}

			&:hover {
				background: grey;
				color: white;
			}
		}
	}

	.force-chart, .graph-chart {
		.link {
			stroke: #999;
			stroke-opacity: .6;
		}

		.node {
			stroke: grey;
			stroke-width: 1.5;
			stroke-opacity: .3;
			cursor: pointer;
		}

		.node-text {
			max-width: 50px;
			overflow: hidden;
			font: 10px sans-serif;
			pointer-events: none;
			//text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
		}
	}
}

.d3-tip {
	width: 200px;
	height: 80px;
	background: rgba(0,0,0,0.7);
	padding: 5px;
	line-height: 1;
	font-weight: bold;
	color: #fff;
	border-radius: 2px;
	pointer-events: none;

	h3 {
		margin-left: -5px;
		margin-top: -10px;
		font-size: 12px;
		width: 200px;
		padding: 5px;
		color: white;
		background: rgba(0,0,0,1);
	}

	.category {
		color: white;
	}
	&:after {
		box-sizing: border-box;
		display: inline;
		font-size: 10px;
		width: 100%;
		line-height: 1;
		color: rgba(0, 0, 0, 0.8);
		position: absolute;
		pointer-events: none;
	}
	&.n:after {
		content: "\25BC";
		margin: -1px 0 0 0;
		top: 100%;
		left: 0;
		text-align: center;
	}
}