pre {
    font-family: "arial narrow";
    font-size: 20px;
    font-weight: bold;
    color: @pre-color;	
}

a,a:active, a:visited {
	color: @link-color;
}
a:hover {
	color: @link-hover-color;
}