<div class="d3charts-page">
	<ul class="categories">
		<li ng-repeat="category in graphCategories" class="category" ng-click="selectCategory($event, category)" style="background: {{getCategoryColorCode(category)}}">
			<a href="" >{{category.label}}</a>
		</li>
	</ul>
	<div class="query-panel">
		<input type="text" placeholder="query params" ng-model="queryParams"/>
		<button ng-click="runQuery($event)">Run Query</button>
	</div>
	<graph-chart class="graph-chart"></graph-chart>
</div>